<div class="w-72 mx-auto overflow-hidden shadow-sm p-4">
  <!-- Изображение товара -->
  <% if @product.images.any? && @product.images.first.attachment.present? %>
    <%= image_tag @product.images.first.attachment.url(:large), class: "absolute object-cover rounded-3xl" %>
  <% else %>
    <div class="relative pb-[100%] overflow-hidden bg-gray-200"></div>
  <% end %>


  <!-- Контент карточки -->
  <div class="flex flex-col gap-2">
    <h2 class="font-main text-xl font-normal text-gray-700 mb-2"><%= @product.name %></h2>
      <p class="font-secondary text-base text-gray-600">
        <%= truncate(@product.description, length: 80, omission: "...") %>
      </p>

    <!-- Рейтинг -->

    <!-- Цена -->
  </div>
</div>