<div class="flex items-center justify-center h-screen">
  <p class="text-5xl text-center font-bold">Все товары</p>
</div>
<ul>
  <% @products.each do |product| %>
    <%= render(ProductCardComponent.new(name: product.name, description: product.description)) %>
  <% end %>
</ul>
